section#adoption {
    .container {
        border-radius:20px;
        background-color: $secondary;
        margin: 50px;

        .adoption-left {
            margin: 80px 100px ;
            padding: 20px;
            h2 {
                font-weight: 800;
                font-size: 52px;
                line-height: 68px;
                
                text-transform: capitalize;
                color: $blue;
            }
            h4 {
                font-weight: 700;
                font-size: 36px;
                line-height: 54px;
                text-transform: capitalize;
                color: $blue;
            }
            p {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #242B33;
                margin: 10px;
            }
            button {
                margin: 10px;
                width: 163px;
                height: 48px;
                background: #003459;
                border-radius: 57px;
                border: transparent;
                color: white;
            }
            a {
                margin: 10px;
                border: 1.5px solid #003459;
                border-radius: 57px;
                padding: 14px 28px ;
                gap: 8px;
                color: $blue;
            }
        }
    }
}