section#showcase {
    background-color: $bg;
    position: relative;
    
    .container {
        overflow: hidden;
        .portion {
            position: relative;
            .icon-o {
                position: absolute;
                top: 90px;
                left: 60px;
            }
            .icon-2 {
                position: absolute;
                top: 70px;
                left: 700px;
            }

            .icon-3 {
                position: absolute;
                top: 120px;
                left: 650px;
            }

            .icon-4 {
                position: absolute;
                top: 130px;
                left: 650px;
            }

            .icon-5 {
                position: absolute;
                top: 155px;
                left: 620px;
            }
            .icon-6 {
                position: absolute;
                top:75px;
                left: 630px;
            }

            .a-side {
                position: absolute;
                top: 100px;
                left: 80px;
                h1 {
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 68px;
                    text-transform: capitalize;
                    color: $text-color;
                    padding-bottom: 10px;
                }
                h5 {
                    font-weight: 700;
                    font-size: 42px;
                    line-height: 60px;
                    text-transform: capitalize;
                    color: $text-color;
                    padding-bottom: 10px;
                }
                
                p {
                    width: 480px;
                    height: 72px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $p-color;
                    padding-bottom: 20px;
                }
            }
            
            .showcase-links {
                margin-top: 20px;
                
            }
            .showcase-link {
                width: 161px;
                height: 48px;
                text-align: center;
                border: 1.5px solid $blue;
                border-radius: 57px;
                padding-top: 10px;
                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $blue;
                    margin-left: 22px;
                }
                img {
                    margin-right: 26px;
                    padding: 0;
                }
            }
            .showcase-btn {
                width: 163px;
                height: 48px;
                border-radius: 57px;
                border: transparent;
                background-color: $blue;
                color: $white;
                margin-left: 20px;
            }
        }
    }
}