

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
